* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 70vh;
}

main {
  box-shadow: 0 10px 0.8rem #aaa;
}

.line-trought {
  text-decoration: line-through;
}

.arrow-icon {
  right: 18px;
  top: 6px;
  z-index: 1;
}

.arrow-icon:hover {
  cursor: pointer;
}
